body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
}

th {
  background: #eee;
}

td {
  padding: 0.5ex;
  font-size: 80%;
}

.weapon {
  display: block;
  padding: 0 0 0 1ex;
}

tr:nth-child(even) {
  background: #fcfcfc;
}
